html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

body {
    height: 100vh;
    background-color: #ddd;
}

#wrapper {
    height: 100vh;
}

header {
    margin: 3rem;
    text-align: center;
}

h1 {
    font-family: 'Righteous', 'Roboto', Arial;
    font-size: 4.5rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    text-shadow: 0.05rem 0.05rem 0.1rem black;
}

h2 {
    font-family: 'Roboto', Arial;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 0.8rem;
    text-shadow: 0 0 0.1rem black;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

button {
    width: 90%;
    height: 3rem;
    border: 0.15rem solid #f7f7f7;
    border-radius: 0.3rem;
    margin-top: 1.5rem;
    background-color: #2a3d7c;
    font-family: 'Roboto', Arial;
    font-size: 1.7rem;
    color: #f7f7f7;
    letter-spacing: 3.8rem;
    text-transform: uppercase;
    transition: 0.5s;
}

button:hover {
    cursor: pointer;
    background-color: #395fdd;
    letter-spacing: 0.8rem;
    color: #fff;
    transition: 0.5s;
}

input {
    width: 90%;
    height: 3rem;
    font-size: 1.1rem;
    margin: 0.2rem;
    border: none;
    border-radius: 0.3rem;
    background-color: #1b1b1b0e;
    padding-left: 1.3rem;
}

input:focus {
    outline: none;
    background-color: #f7f7f7;
    color: #131313;
    transition: 0.5s;
}

.memes {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    margin: 0 5%;
}

img {
    width: 450px;
    height: 450px;
    z-index: -1;
}

img:hover {
    cursor: pointer;
}

.meme {
    position: relative;
    display: inline-block;
    width: 450px;
    height: 450px;
    margin: 1rem;
}

.top-text,
.bottom-text {
    position: absolute;
    color: white;
    font-family: Impact, Arial;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3.1rem;
    text-shadow: 0 0 0.4rem black;
}

.top-text {
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    top: 30px;
}

.bottom-text {
    width: 100%;
    text-align: center;
    bottom: 30px;
}